<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>962997421749-5l3tr1f1cjlgib6p9ejh24mlij0mnrak.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.962997421749-5l3tr1f1cjlgib6p9ejh24mlij0mnrak</string>
<key>ANDROID_CLIENT_ID</key>
<string>962997421749-b7cn9co1ioom61j5rilop13co39rkj75.apps.googleusercontent.com</string>
<key>API_KEY</key>
<string>AIzaSyA-GOrp_dfsp9Sm5LVozZG3SUU-o2YMefU</string>
<key>GCM_SENDER_ID</key>
<string>962997421749</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>glorifygod.music.app</string>
<key>PROJECT_ID</key>
<string>glorify-god-b2702</string>
<key>STORAGE_BUCKET</key>
<string>glorify-god-b2702.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false></false>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<true></true>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:962997421749:ios:37f533fe0859f097c7a0fc</string>
</dict>
</plist>