<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLIENT_ID</key>
<string>962997421749-ldo15v1svt7nppd7irq0m3b9i1igggar.apps.googleusercontent.com</string>
<key>REVERSED_CLIENT_ID</key>
<string>com.googleusercontent.apps.962997421749-ldo15v1svt7nppd7irq0m3b9i1igggar</string>
<key>API_KEY</key>
<string>AIzaSyA-GOrp_dfsp9Sm5LVozZG3SUU-o2YMefU</string>
<key>GCM_SENDER_ID</key>
<string>962997421749</string>
<key>PLIST_VERSION</key>
<string>1</string>
<key>BUNDLE_ID</key>
<string>app.glorifygod.prod</string>
<key>PROJECT_ID</key>
<string>glorify-god-b2702</string>
<key>STORAGE_BUCKET</key>
<string>glorify-god-b2702.appspot.com</string>
<key>IS_ADS_ENABLED</key>
<false></false>
<key>IS_ANALYTICS_ENABLED</key>
<false></false>
<key>IS_APPINVITE_ENABLED</key>
<true></true>
<key>IS_GCM_ENABLED</key>
<true></true>
<key>IS_SIGNIN_ENABLED</key>
<true></true>
<key>GOOGLE_APP_ID</key>
<string>1:962997421749:ios:18a2ecbc3d26315fc7a0fc</string>
</dict>
</plist>